
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


body{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    background-color: #F8E8EE;
    font-family: 'Nunito', sans-serif;
}

/* Head Section */

#header{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-color: #EF9595;
    flex: 1 1 auto;
    height: 15vh;
    padding: 0 100px 0 100px;
    font-family: 'Luckiest Guy', cursive;
}

#loginButton{
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #EFB495;
    color: black;
    font-family: 'Nunito', sans-serif;
}
#loginButton:hover{
    cursor: pointer;
    background-color: #A86464;
}

/* Add Button section */

.buttonWrapper{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#addButton{
    height: 6rem;
    width: 8rem;
    border: 2px solid #F2BED1;
    background-color: #F2BED1;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}

#addButton:hover{
    background-color: #974EC3;
}

/* Form */

#hiddenForm {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    margin-top: .5rem;
}

.modal-content {
    margin: 15% auto;
    padding: 20px;
    width: 200px;
    padding: 1.9rem 1.2rem;
    text-align: center;
    background: #2a2b38;
    color: white;

}
#submit {
    margin: 1rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    padding: 0.6em 1.2em;
    background-color: #ffeba7;
    color: #5e6681;
    cursor: pointer;  
    transition: all .3s ease-in-out;
}
#close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* Card displays */

#display{
    display: grid;
    margin-top:  40px;
    padding-left: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-columns: repeat(4, 1fr);
    grid-auto-rows: repeat(4, 1fr);
    grid-auto-flow: row;
    grid-gap: 6px; 
}

.bookGrid{
    background-color: #EFB495;
    height: 25vh;
    width: 20vw;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}
/* Footer */

#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A86464;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
    width: 100%;
    height: 120px;
}
a{
    color: #F8E8EE;
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive;
}