
body{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
}
#header{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-color: blanchedalmond;
    flex: 1 1 auto;
    height: 15vh;
    padding: 0 100px 0 100px;
}
#loginButton{
    height: 3em;
    width: 5rem;
}
.buttonWrapper{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
#addButton{
    height: 6rem;
    width: 4rem;
}
#hiddenForm {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

#close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#display{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-columns: repeat(4, 1fr);
    grid-auto-rows: repeat(4, 1fr);
    grid-auto-flow: row;
    grid-gap: 6px;
}